* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mozilla Headline",
        sans-serif;
    ;
}

/* Inicio Nav*/
.Nav {
    width: 100%;
    background-color: rgba(140, 72, 204, 0.837);
    height: 80px;
    display: flex;
    justify-content: flex-end;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.Nav-list {
    display: flex;
    align-items: center;
    list-style: none;
}

.Nav-list a {
    color: rgba(250, 235, 215, 0.914);
    padding: 5px;
    margin-right: 10px;
    font-size: 12px;
    text-decoration: none;
}

/* Fim do Nav*/

/* Inicio do Main*/
.About_main{
    margin-top: 10px;
}

.About_main h2{
    text-align: center;
    margin-bottom: 25px;
}

/* Fim do Main*/


/* Inicio Poema Amizade*/
.Poema_amizade{
    box-shadow: 0px 1px 3px 2px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
}

.Poema_amizade h3{
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    color: darkblue;
}

.Poema_amizade p{
    text-align: justify;
    padding-bottom: 5px;
    margin-right: 5px;
    padding-left: 5px;
    line-height: 20px;
}

.P_amizade p{
    display: block;
    margin-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: darkblue;
}

/* Fim Poema Amizade*/



/* Inicio Poema Amor*/

.Poema_Amor{
        box-shadow: 0px 1px 3px 2px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 50px;
}

.Poema_Amor h3{
        text-align: center;
        padding-top: 8px;
        padding-bottom: 8px;
        color: rgb(222, 22, 22);
}


.Poema_Amor p{
        text-align: justify;
        padding-bottom: 8px;
        margin-right: 5px;
        padding-left: 5px;
        line-height: 20px;
}

.P_amor p{
        display: block;
        margin-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        color: rgb(222, 22, 22);
}
